$bodyTypo: "Open Sans", sans-serif;
$headings: "Poppins", sans-serif;

$Pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: $bodyTypo;
  position: relative;
}

.container {
  width: 1280px;
  margin: auto;
}

.header {
  position: absolute;

  width: 100%;
  .container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__btn {
  height: 50px;
  width: 200px;
  background-color: white;
  color: $VeryDarkCyan;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  top: -3px;
  font-weight: 700;
  font-size: 0.75em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover {
    cursor: pointer;
  }
}
.logo {
  svg {
    transform: scale(0.83);
    position: relative;
    left: -21px;
  }
}

.first__section {
  background-color: $VeryPaleCyan;
  height: 100vh;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.first__content {
  width: 40%;
}
.first__img {
  width: 60%;
  img {
    width: 90%;
    position: relative;
    top: 50px;
    left: 70px;
  }
}
.first__tittle {
  font-family: $headings;
  font-size: 2.2em;
  margin-top: 110px;
}
.first__text {
  margin-top: 30px;
  line-height: 27px;
}
.first__btn {
  height: 55px;
  width: 280px;
  background: $Pink;
  display: block;
  margin-top: 30px;
  color: white;
  font-weight: 700;
  font-size: 0.79em;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: ease 0.2s;
  &:hover {
    background-color: #ff9bdb;
    cursor: pointer;
    transition: ease 0.2s;
  }
}
.second__section {
  padding: 160px 0;
  padding-bottom: 306px;
}
.second__card {
  height: 440px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  &:nth-child(2) {
    .second__content {
      padding-left: 88px;
      padding-right: 20px;
    }
    .second__img img {
      right: -120px;
      top: 4px;
    }
  }
  &:nth-child(3) {
    .second__content {
      padding-right: 15px;
    }
  }
}
.second__content {
  padding-left: 120px;
  position: relative;
  top: 4px;
}

.second__tittle {
  font-family: $headings;
  font-size: 1.55em;
  margin-bottom: 12px;
}
.second__img img {
  width: 407px;
  position: relative;
  right: -176px;
  top: 4px;
}
.second__text {
  line-height: 27px;
}

.call {
  position: relative;
}
.call__inner {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 15px 0px;

  position: absolute;
  width: 800px;
  height: 280px;
  margin: auto;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 35%);
  border-radius: 15px;
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}
.call__tittle {
  font-size: 1.75em;
  font-family: $headings;
  margin-bottom: -20px;
}
.call__btn {
  height: 80px;
  width: 400px;
  background-color: $Pink;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 40px;
  transition: ease 0.2s;
  &:hover {
    background-color: #ff9bdb;
    cursor: pointer;
    transition: ease 0.2s;
  }
}

.footer {
  height: 600px;
  background-color: $VeryDarkCyan;
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 0 40px;
    padding-top: 190px;
  }
}
.footer__logo {
  margin-bottom: 35px;
  display: block;
}

.footer__column {
  color: #fff;
  &:first-child {
    padding-right: 100px;
  }
  &:nth-child(3) {
    .footer__links {
      padding-left: 15px;
    }
  }
  &:nth-child(4) {
    padding: 80px 20px;
    display: flex;
  }
}
.footer__item {
  display: flex;
  margin-bottom: 25px;
  svg {
    margin-top: 10px;
    width: 35px;
  }
  &:nth-child(3) {
    margin-bottom: 15px;
    svg {
      position: relative;
      left: 4px;
      top: -6px;
    }
  }
  &:nth-child(4) {
    margin-bottom: 15px;
    svg {
      position: relative;
      left: 2px;
      top: -6px;
    }
  }
}
.footer__item-text {
  padding-left: 5px;
  font-size: 0.88em;
  line-height: 24px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  padding: 80px 30px;
}
.footer__link {
  color: white;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
  &:before {
    display: block;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
  }
  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }
}

.footer__social {
  display: flex;
  width: 31px;
  height: 31px;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 30px;
  margin-right: 13px;
  transition: ease 0.2s;

  &:hover {
    cursor: pointer;
    transition: ease 0.2s;
    border-color: $Pink;
    svg {
      path {
        color: $Pink;
      }
    }
  }
}
.copy {
  position: relative;
  top: -2px;
  font-size: 0.645em;
  color: #fff;
  margin: auto;
  width: 1280px;
  text-align: right;
  font-family: $headings;
}

@media screen and (max-width: 1280px) {
  .container,
  .copy {
    width: 95%;
  }
  .second__img img {
    width: 85%;
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  .first__section {
    height: auto;
    padding-bottom: 100px;
    .container {
      flex-wrap: wrap;
    }
  }

  .first__content {
    width: 100%;
    text-align: center;
    padding: 0 100px;
  }
  .first__text {
    font-size: 1.5em;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 65px;
  }
  .first__btn {
    width: 480px;
    height: 80px;
    border-radius: 60px;
    margin: 0 auto;
  }
  .first__img {
    width: 100%;
    img {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .call__inner {
    width: 95%;
  }
  .first__tittle {
    margin-top: 255px;
  }
  .second__card {
    height: auto;
    grid-template-columns: 1fr;
    padding: 100px;
    &:nth-child(2) {
      .second__content {
        padding-left: 0;
        padding-right: 0;
      }
      .second__img img {
        right: 0;
        top: 4px;
      }
    }
    &:nth-child(3) {
      .second__content {
        padding-right: 15px;
      }
    }
  }
  .second__content {
    order: 2;
    padding: 0;
    text-align: center;
    margin-top: 115px;
  }
  .second__tittle {
    font-size: 2.2em;
  }
  .second__text {
    font-size: 1.5em;
    line-height: 40px;
  }
  .second__img {
    order: 1;

    img {
      width: 100%;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .footer {
    height: auto;
    .container {
      grid-template-columns: 1fr;
    }
  }
  .footer__column {
    color: #fff;
    &:first-child {
      padding-right: 0;
    }
    &:nth-child(2) {
      .footer__links {
        padding-top: 80px;
      }
    }
    &:nth-child(3) {
      .footer__links {
        padding-left: 0;
      }
    }
    &:nth-child(4) {
      padding: 0;
    }
  }
  .footer__links {
    padding: 0;
  }
}
